<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigations</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="../../../assets/images/logo.png" class="logo clickable" alt="" height="50px" [routerLink]="['/']">
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
          <!-- <ul class="nav navbar-nav">
            <li class="clickable"><a  href="">Home</a></li>
            <li class="clickable"><a  (click)="gotoAllPlayers();">Players List</a></li>
          </ul> -->
          <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/']">Home</a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['all-players']">Players List</a></li>
          </ul>
        </div>
      </div>
    </nav>

    
